aside.c-side-bar
    ul.c-aside-links
        li.c-aside-links__item
            a(href="#", class="c-aside-links__btn c-aside-links__btn--newsletter") Assine a Newsletter
        li.c-aside-links__item
            a(href="#", class="c-aside-links__btn c-aside-links__btn--attorney") Área do Advogado
        li.c-aside-links__item
            a(href="#", class="c-aside-links__btn c-aside-links__btn--consumer") Área do Consumidor
    .o-advertising
        a(href="#"): img(src="http://placehold.it/270x490", alt="Publicidade")
    .o-advertising
        a(href="#"): img(src="http://placehold.it/270x490", alt="Publicidade")
