aside.side-bar
    ul.aside-links
        li.aside-links__item
            a(href="#", class="aside-btn aside-btn--newsletter") Assine a Newsletter
        li.aside-links__item
            a(href="#", class="aside-btn aside-btn--attorney") Área do Advogado
        li.aside-links__item
            a(href="#", class="aside-btn aside-btn--consumer") Área do Consumidor
    .advertising
        a(href="#"): img(src="img/placeholder2.jpg", alt="Publicidade")
    .advertising
        a(href="#"): img(src="img/placeholder2.jpg", alt="Publicidade")
