footer.c-main-footer
    .c-footer-nav
        .container-fluid
            .l-content-block
                .row
                    .col-sm-6
                        .row
                            .col-xs-6
                                ul.c-footer-links
                                    li(class="c-footer-links__item c-footer-links__item--tit") Perguntas e Respostas
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#dividas") Dívidas
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#dano-moral") Dano Moral
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#spc-serasa-scpc") SPC/SERASA/SCPC
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#defenda-se") Defenda-se
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#dicas-uteis") Dicas Úteis
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#informe-se") Informe-se
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#sfh") SFH
                                    li.c-footer-links__item: a(href="/perguntas-e-respostas#duvidas-trabalhistas") Dúvidas Trabalhistas
                            .col-xs-6
                                ul.c-footer-links
                                    li(class="c-footer-links__item c-footer-links__item--tit") Outros Serviços
                                    li.c-footer-links__item: a(href="/outros-servicos") Gerenciador Financeiro
                                    li.c-footer-links__item: a(href="/outros-servicos") Cálculos
                                    li.c-footer-links__item: a(href="/outros-servicos") Faça sua reclamação
                                    li.c-footer-links__item: a(href="/outros-servicos") Teste sua internet
                                    li.c-footer-links__item: a(href="/outros-servicos") Juros bancários
                                    li.c-footer-links__item: a(href="/outros-servicos") Calculadora do cidadão
                    .col-sm-6
                        .row
                            .col-xs-6
                                ul.c-footer-links
                                    li(class="c-footer-links__item c-footer-links__item--tit") Institucional
                                    li.c-footer-links__item: a(href="/institucional#quem-somos") Quem somos
                                    li.c-footer-links__item: a(href="/institucional#na-midia") Na mídia
                                    li.c-footer-links__item: a(href="/institucional#politica-de-privacidade") Política de Privacidade
                                    li.c-footer-links__item: a(href="/institucional#politica-de-publicidade") Política de Publicidade
                            .col-xs-6
                                ul.c-footer-links
                                    li(class="c-footer-links__item c-footer-links__item--tit"): a(href="/noticias") Notícias
                                    li(class="c-footer-links__item c-footer-links__item--tit"): a(href="/contatos") Contato
                                    li(class="c-footer-links__item c-footer-links__item--tit") Fóruns
                                    li.c-footer-links__item: a(href="#") Área do Advogado
                                    li.c-footer-links__item: a(href="#") Área do Consumidor
    .c-footer-bar
        .container-fluid
            .l-content-block
                .row
                    .col-sm-4.col-md-3
                        img(src="img/logo-footer.png", alt="SOS Consumidor - Associação de Defesa do Consumidor", class="c-footer-bar__logo")
                    .col-sm-8.col-md-6
                        p.text-center &copy; Copyright 2016 - Associação dos Consumidores Endividados

script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript", src="js/main.js")
