footer.main-footer
    .row
        .col-sm-3
            ul.footer-links
                li(class="footer-links__item footer-links__item--tit") Perguntas e Respostas
                li.footer-links__item: a(href="#") Dívidas
                li.footer-links__item: a(href="#") Dano Moral
                li.footer-links__item: a(href="#") SPC/SERASA/SCPC
                li.footer-links__item: a(href="#") Defenda-se
                li.footer-links__item: a(href="#") Dicas Úteis
                li.footer-links__item: a(href="#") Informe-se
                li.footer-links__item: a(href="#") SFH
                li.footer-links__item: a(href="#") Dúvidas Trabalhistas
        .col-sm-3
            ul.footer-links
                li(class="footer-links__item footer-links__item--tit") Outros Serviços
                li.footer-links__item: a(href="#") Gerenciador Financeiro
                li.footer-links__item: a(href="#") Cálculos
                li.footer-links__item: a(href="#") Faça sua reclamação
                li.footer-links__item: a(href="#") Teste sua internet
                li.footer-links__item: a(href="#") Juros bancários
                li.footer-links__item: a(href="#") Calculadora do cidadão
        .col-sm-3
            ul.footer-links
                li(class="footer-links__item footer-links__item--tit") Institucional
                li.footer-links__item: a(href="#") Quem somos
                li.footer-links__item: a(href="#") Na mídia
                li.footer-links__item: a(href="#") Política de Privacidade
                li.footer-links__item: a(href="#") Política de Publicidade
        .col-sm-3
            ul.footer-links
                li(class="footer-links__item footer-links__item--tit"): a(href="#") Notícias
                li(class="footer-links__item footer-links__item--tit"): a(href="#") Contato
                li(class="footer-links__item footer-links__item--tit") Fóruns
                li.footer-links__item: a(href="#") Área do Advogado
                li.footer-links__item: a(href="#") Área do Consumidor
    .row
        .col-sm-3
            img(src="http://placehold.it/300x120", alt="Logo SOS Consumidor")
        .col-sm-6
            p.text-center &copy; Copyright 2016 - Associação dos Consumidores Endividados

script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript", src="js/main.js")
