header.main-header
    .row
        .col-sm-5
            h1.logo: img(src="img/placeholder2.jpg", alt="Placeholder" class="img-rounded img-responsive")
        .col-sm-3
            p Sexta-feira, 27 de maio de 2016
        .col-sm-4
            a(href="#") Área do Advogado
            a(href="#") Área do Consumidor
    .row
        .col-sm-8
            .main-nav
                ul.main-nav__list
                    li.main-nav__item
                        a(href="#") Perguntas e Respostas
                        ul.main-nav-sub
                            li.main-nav-sub__item
                                a(href="#") Dívidas
                                ul.main-nav-sub-sub
                                    li.main-nav-sub-sub__item
                                        a(href="#") Empréstimos Consignados INSS
                                    li.main-nav-sub-sub__item
                                        a(href="#") Alienação Fiduciária
                                    li.main-nav-sub-sub__item
                                        a(href="#") Dívidas
                                    li.main-nav-sub-sub__item
                                        a(href="#") Título de Capitalização
                                    li.main-nav-sub-sub__item
                                        a(href="#") Leasing
                                    li.main-nav-sub-sub__item
                                        a(href="#") Tarifas Bancárias
                                    li.main-nav-sub-sub__item
                                        a(href="#") Cartão de Crédito
                                    li.main-nav-sub-sub__item
                                        a(href="#") Financiamentos
                    li.main-nav__item
                        a(href="#") Notícias
                    li.main-nav__item
                        a(href="#") Outros Serviços
                    li.main-nav__item
                        a(href="#") Institucional
                    li.main-nav__item
                        a(href="#") Contatos
        .col-sm-4
            form
                input(type="text", placeholder="busca")
                button buscar
