header.c-main-header
    .container-fluid
        .l-content-block
            .row
                .col-sm-6.col-md-7.col-lg-8
                    .row
                        .col-md-7
                            .row
                                .col-xs-3.visible-xs-block.text-left
                                    button.c-hamburger.visible-xs-inline-block.js-hamburger: span
                                .col-xs-7.col-sm-12.text-center
                                    h1.c-logo: a(href="/"): img(src="img/logo-sos-consumidor.png", alt="SOS Consumidor - Associação de Defesa do Consumidor")
                                .col-xs-2.visible-xs-block.text-right
                                     button.c-hamburger.c-hamburger--dots.visible-xs-inline-block.js-hamburger-dot: span
                        .col-md-5
                            p.c-main-header__date Sexta-feira, 27 de maio de 2016
                .col-sm-6.col-md-5.col-lg-4.text-right.c-forum-nav
                    a(href="#", class="o-btn o-btn--primary c-main-header__btn c-main-header__btn--attorney") Área do Advogado
                    a(href="#", class="o-btn o-btn--secondary c-main-header__btn c-main-header__btn--consumer") Área do Consumidor
            hr.c-main-header__hr

            //- Form Mobile
            form.c-search.c-search--sm(action="http://www.sosconsumidor.com.br/noticias-cse", method="get")
                input(type="text", placeholder="busca", class="form-control form-control--no-border")
                button.o-btn.o-btn--primary.o-btn--sm Buscar
            .c-main-nav
                .row
                    .col-md-9.col-lg-8
                        ul.c-main-nav__list
                            li.c-main-nav__item.c-main-nav__item--drop
                                a(href="/perguntas-e-respostas") Perguntas e Respostas
                                ul.c-main-nav-sub
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") Dívidas
                                        ul.c-main-nav-sub.c-main-nav-sub--sub.hidden-xs
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Empréstimos Consignados INSS
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Alienação Fiduciária
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Dívidas
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Título de Capitalização
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Leasing
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Tarifas Bancárias
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Cartão de Crédito
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Financiamentos
                                            li.c-main-nav-sub__item
                                                a(href="/duvida-detalhe") Cheque Especial
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") Dano Moral
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") SPC/SERASA/SCPC
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") Defenda-se
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") Dicas Úteis
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") Informe-se
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") SFH
                                    li.c-main-nav-sub__item
                                        a(href="/perguntas-e-respostas") Dúvidas Trabalhistas
                            li.c-main-nav__item
                                a(href="/noticias") Notícias
                            li.c-main-nav__item
                                a(href="/outros-servicos") Outros Serviços
                            li.c-main-nav__item
                                a(href="/institucional") Institucional
                            li.c-main-nav__item
                                a(href="/contatos") Contatos
                    .col-md-3.col-lg-4
                        form.c-search.c-search--md.pull-right(action="http://www.sosconsumidor.com.br/noticias-cse", method="get")
                            input(type="text", placeholder="busca", class="form-control form-control--no-border")
                            button.o-btn.o-btn--primary.o-btn--sm Buscar
