.c-hamburger {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 4px;

    span {
        top: 50%;
        left: 4px;
        margin-top: -2px;

        &,
        &:before,
        &:after {
            position: absolute;
            display: inline-block;
            height: 4px;
            width: 30px;
            background-color: #2c3e50;
        }

        &:before,
        &:after {
            content: '';
            left: 0;
        }

        &:before {
            top: -10px;
        }

        &:after {
            top: 10px;
        }
    }
}
