
extends ./templates/layout.jade

block vars
  - var title='Posso ser preso por dívidas? | Perguntas e Respostas'
  - var description = 'Orientar, esclarecer e ajudar os consumidores, principalmente àqueles que possuem dívidas, acerca de seus direitos, demonstrando de forma clara e objetiva como funcionam as principais formas de crédito, os tipos de contratos existentes e os sistemas de restrição de crédito como SPC, SERASA, SCPC e afins.'

block content
    .row
        ol.breadcrumb
            li: a(href="#") Página Inicial
            li: a(href="#") Perguntas e Respostas
            li: a(href="#") Dívidas
            li.active Posso ser preso por dívidas?

        .col-sm-9
            main.main-content
                .row
                    .col-sm-9
                        a(href="#") &lt; Voltar para dívidas
                        .well.well-sm
                            strong 14261
                            |  pessoas já leram este FAQ
                            .pull-right
                                a(href="#") Tw
                                a(href="#") Fb

                        h1 Posso ser preso por dívidas?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptate temporibus delectus accusantium nihil eveniet veniam quo obcaecati rerum similique enim, atque, excepturi facere dicta dolorum reiciendis iste! Quidem, earum!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptate temporibus delectus accusantium nihil eveniet veniam quo obcaecati rerum similique enim, atque, excepturi facere dicta dolorum reiciendis iste! Quidem, earum!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptate temporibus delectus accusantium nihil eveniet veniam quo obcaecati rerum similique enim, atque, excepturi facere dicta dolorum reiciendis iste! Quidem, earum!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptate temporibus delectus accusantium nihil eveniet veniam quo obcaecati rerum similique enim, atque, excepturi facere dicta dolorum reiciendis iste! Quidem, earum!

                        a(href="#") Leia mais sobre este assunto | FAQs relacionadas


                        // Publicidade
                        .advertising
                            a(href="#"): img(src="http://placehold.it/700x50", alt="Publicidade")


                        // Form Comentários
                        h3 Deixe seu comentário
                        form
                            .form-group
                                textarea(class="form-control", rows="3")
                            .row
                                .col-sm-6
                                    .form-group
                                        label Nome
                                        input(class="form-control", type="text")
                                .col-sm-6
                                    .form-group
                                        label Email
                                        input(class="form-control", type="email")
                            .form-group
                                button(type="submit", class="btn btn-default") Enviar


                        // Lista de Comentários
                        .comments
                            | Existem <strong>3</strong> comentários
                            ul.comments-list
                                li.comments-list__item
                                    span
                                        strong Oscar Wylde
                                        |  27/05/2016 | 22:00
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad soluta asperiores mollitia a deserunt accusantium architecto cum est maxime sapiente, repellat consequuntur dolorem ea magni magnam. Velit nam, eligendi amet.
                                li.comments-list__item
                                    span
                                        strong Oscar Wylde
                                        |  27/05/2016 | 22:00
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad soluta asperiores mollitia a deserunt accusantium architecto cum est maxime sapiente, repellat consequuntur dolorem ea magni magnam. Velit nam, eligendi amet.
                                li.comments-list__item
                                    span
                                        strong Oscar Wylde
                                        |  27/05/2016 | 22:00
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad soluta asperiores mollitia a deserunt accusantium architecto cum est maxime sapiente, repellat consequuntur dolorem ea magni magnam. Velit nam, eligendi amet.
                            a(href="#", class="btn") Visualizar mais comentários

                    .col-sm-3
                        h3 Notícias
                        ul(class="links-list links-list--news")
                        - for (var x = 0; x < 10; x++)
                            li.links-list__item
                                span 27/05/2016
                                a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        a(href="#", class="btn") Ver mais notícias

                        h3 Perguntas Frequentes
                        ul(class="links-list links-list--consumer")
                        - for (var x = 0; x < 10; x++)
                            li.links-list__item
                                span Empréstimos Consignados do INSS
                                a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit?
                        a(href="#", class="btn") Ver mais perguntas frequentes

        .col-sm-3

            include ./templates/partials/aside.jade
