
extends ./templates/layout.jade

block vars
  - var title='SOS Consumidor'
  - var description = 'Orientar, esclarecer e ajudar os consumidores, principalmente àqueles que possuem dívidas, acerca de seus direitos, demonstrando de forma clara e objetiva como funcionam as principais formas de crédito, os tipos de contratos existentes e os sistemas de restrição de crédito como SPC, SERASA, SCPC e afins.'

block content
    .container-fluid
            .l-content-block
                .row
                    .col-sm-9
                        main.c-main-content
                            .c-post
                                a(href="#")
                                    img(src="http://placehold.it/870x400", alt="imagem da notícia" class="c-post__img")
                                    h2.c-post__tit Deputados votam a favor do Impedimento
                                    p.c-post__excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, magni autem. Eum voluptate aliquam consequatur iusto accusamus. Distinctio a ratione, atque unde nobis nisi similique illum, minima nesciunt quas totam.
                            .row
                                .col-md-6
                                    .c-post
                                        a(href="#")
                                            img(src="http://placehold.it/870x400", alt="imagem da notícia" class="c-post__img")
                                            h2.c-post__tit Deputados votam a favor do Impedimento
                                            p.c-post__excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, magni autem. Eum voluptate aliquam consequatur iusto accusamus. Distinctio a ratione, atque unde nobis nisi similique illum, minima nesciunt quas totam.
                                .col-md-6
                                    .c-post
                                        a(href="#")
                                            img(src="http://placehold.it/870x400", alt="imagem da notícia" class="c-post__img")
                                            h2.c-post__tit Deputados votam a favor do Impedimento
                                            p.c-post__excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, magni autem. Eum voluptate aliquam consequatur iusto accusamus. Distinctio a ratione, atque unde nobis nisi similique illum, minima nesciunt quas totam.
                            .row
                                .col-md-6
                                    h3.o-tit.o-tit--22.o-tit--upper Notícias
                                    ul(class="o-links-list o-links-list--news")
                                        - for (var x = 0; x < 8; x++)
                                            li.o-links-list__item
                                                span 27/05/2016
                                                a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                    a(href="#", class="o-btn o-btn--primary o-btn--sm") Ver mais notícias
                                .col-md-6
                                    h3.o-tit.o-tit--22.o-tit--upper Perguntas Frequentes
                                    ul(class="o-links-list o-links-list--consumer")
                                        - for (var x = 0; x < 6; x++)
                                            li.o-links-list__item
                                                span Empréstimos Consignados do INSS
                                                a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit?
                                    a(href="#", class="o-btn o-btn--secondary o-btn--sm") Ver mais perguntas frequentes

                    .col-sm-3

                        include ./templates/partials/aside.jade
