
extends ./templates/layout.jade

block vars
  - var title='Outros Serviços'
  - var description = 'Orientar, esclarecer e ajudar os consumidores, principalmente àqueles que possuem dívidas, acerca de seus direitos, demonstrando de forma clara e objetiva como funcionam as principais formas de crédito, os tipos de contratos existentes e os sistemas de restrição de crédito como SPC, SERASA, SCPC e afins.'

block content
    .c-breadcrumb
        .l-content-block
            .c-breadcrumb__list
                .c-breadcrumb__item: a(href="/") Página Inicial
                .c-breadcrumb__item.active Outros Serviços

    .container-fluid
        .l-content-block
            .row
                .col-sm-9
                    main.c-main-content
                        h1.o-tit.o-tit--22 Outros Serviços
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur corrupti aliquam voluptatum asperiores natus culpa sint ratione cupiditate qui numquam, suscipit ab amet eaque dolore totam obcaecati quis corporis nam.

                        .row
                            .col-sm-6
                                .c-service
                                    a(href="#")
                                        .c-service__logo
                                            img(src="/img/gbolso.jpg", alt="gbolso")
                                        h2.o-tit.o-tit--18 Gerenciador Financeiro
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos atque reprehenderit perferendis dolore ducimus adipisci dignissimos expedita perspiciatis quaerat quae cupiditate porro harum aliquam, consectetur tenetur ipsam autem blanditiis?

                                .c-service
                                    a(href="#")
                                        .c-service__logo
                                            img(src="/img/consumidor.jpg", alt="Consumidor")
                                        h2.o-tit.o-tit--18 Faça sua reclamação
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos atque reprehenderit perferendis dolore ducimus adipisci dignissimos expedita perspiciatis quaerat quae cupiditate porro harum aliquam, consectetur tenetur ipsam autem blanditiis?

                                .c-service
                                    a(href="#")
                                        .c-service__logo
                                            img(src="/img/banco-central.jpg", alt="Banco Central do Brasil")
                                        h2.o-tit.o-tit--18 Juros Bancários
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos atque reprehenderit perferendis dolore ducimus adipisci dignissimos expedita perspiciatis quaerat quae cupiditate porro harum aliquam, consectetur tenetur ipsam autem blanditiis?

                            .col-sm-6
                                .c-service
                                    a(href="#")
                                        .c-service__logo
                                            img(src="/img/calculo-exato.jpg", alt="Cálculo Exato")
                                        h2.o-tit.o-tit--18 Cálculos
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos atque reprehenderit perferendis dolore ducimus adipisci dignissimos expedita perspiciatis quaerat quae cupiditate porro harum aliquam, consectetur tenetur ipsam autem blanditiis?

                                .c-service
                                    a(href="#")
                                        .c-service__logo
                                            img(src="/img/minha-conexao.jpg", alt="Minha Conexão")
                                        h2.o-tit.o-tit--18 Teste sua internet
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos atque reprehenderit perferendis dolore ducimus adipisci dignissimos expedita perspiciatis quaerat quae cupiditate porro harum aliquam, consectetur tenetur ipsam autem blanditiis?

                                .c-service
                                    a(href="#")
                                        .c-service__logo
                                            img(src="/img/banco-central.jpg", alt="Banco Central do Brasil")
                                        h2.o-tit.o-tit--18 Calculadora do Cidadão
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos atque reprehenderit perferendis dolore ducimus adipisci dignissimos expedita perspiciatis quaerat quae cupiditate porro harum aliquam, consectetur tenetur ipsam autem blanditiis?
                .col-sm-3

                    include ./templates/partials/aside.jade
